@import "/src/app/styles/variables";
// Input styles

.inputs_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.group {
  position: relative;
  width: 700px;
  padding-right: 10px;
}
.input {
  position: relative;
  font-size: 18px;
  padding: 20px 30px;
  font-size: 25px;
  display: block;
  font-family: $secondary_font;
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: rgba(240, 240, 240, 1);
}
.showIcon {
  position: absolute;
  right: 0;
  top: 30%;
  cursor: pointer;
}
.inputRead {
  @extend .input;
  cursor: not-allowed;
  color: #999;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}

// Label
label {
  color: #999;
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 11px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.labelRead {
  top: -10px;
  font-size: 14px;
  color: rgba(152, 152, 152, 1);
}
// Active state input
input:focus ~ label,
input:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: rgba(152, 152, 152, 1);
}

.error {
  text-align: left;
  font-size: 0.8rem;
  color: red;
  margin: 0;
  padding-left: 10px;
}

@media screen and (max-width: 1290px) {
  .input {
    max-width: 270px;
  }
  .containerInfo {
    width: 320px;
  }
  .group {
    padding: 0;
    width: 320px;
  }
}
@media screen and (max-width: 868px) {
  .input {
    max-width: 200px;
  }
  .containerInfo {
    width: 220px;
  }
  .group {
    padding: 0;
    width: 240px;
  }
}
@media screen and (max-width: 768px) {
  select {
    max-width: 555px;
    height: 50px;
  }

  .dropdowns {
    .arrow {
      right: 50px;
    }
    .arrowCountry {
      right: 50px;
    }
  }
  .input {
    max-width: 520px;
  }
  .inputs_box {
    align-items: normal;
  }

  .group {
    padding: 0;
    width: 540px;
  }
}
@media screen and (max-width: 540px) {
  select {
    max-width: 435px;
    width: 435px;
    padding: 9px 15px 9px 20px;
    font-size: 14px;
    height: 38px;
  }

  .dropdowns {
    .arrow {
      top: 65px;
      right: 10px;
    }
    .arrowCountry {
      top: 17px;
      right: 10px;
    }
  }
  .input {
    max-width: 420px;
    padding: 9px 15px 9px 20px;
    font-size: 14px;
  }
  .inputs_box {
    align-items: normal;
    max-width: 400px;
    width: 100%;
  }

  .group {
    padding: 0;
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  select {
    max-width: 385px;
    // width: 100%;
    padding: 9px 15px 9px 20px;
    font-size: 14px;
    height: 38px;
  }

  .dropdowns {
    .arrow {
      top: 65px;
      right: 10px;
    }
    .arrowCountry {
      top: 17px;
      right: 10px;
    }
  }
  .input {
    max-width: 350px;
    padding: 9px 15px 9px 20px;
    font-size: 14px;
  }
  .inputs_box {
    align-items: normal;
    max-width: 390px;
    width: 100%;
  }
  .showIcon {
    top: 15%;
    right: 20px;
  }
  .group {
    padding: 0;
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  select {
    max-width: 355px;
    // width: 100%;
    padding: 9px 15px 9px 20px;
    font-size: 14px;
    height: 38px;
  }
  .input {
    max-width: 350px;
    padding: 9px 15px 9px 20px;
    font-size: 14px;
  }
  .inputs_box {
    align-items: normal;
    max-width: 320px;
    width: 100%;
  }
  .showIcon {
    top: 15%;
    right: 30px;
  }
  .group {
    padding: 0;
    max-width: 400px;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  select {
    max-width: 325px;
    width: 355px;
    padding: 9px 15px 9px 20px;
    font-size: 14px;
    height: 38px;
  }

  .dropdowns {
    .arrow {
      top: 65px;
      right: 10px;
    }
    .arrowCountry {
      top: 17px;
      right: 10px;
    }
  }
  .input {
    max-width: 290px;
    padding: 9px 15px 9px 20px;
    font-size: 14px;
  }
  .inputs_box {
    align-items: normal;
    max-width: 320px;
    width: 100%;
  }
  .showIcon {
    top: 15%;
    right: -20px;
  }
  .group {
    padding: 0;
    max-width: 300px;
    width: 100%;
  }
}
