@import "/src/app/styles/variables";

// All lessons box

.custom_select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 34px;
  font-size: 25px;
  padding: 0px;
  gap: 10px;
}
.filter_block {
  display: flex;
  margin-top: 100px;
  width: 100%;
  max-width: 1920px;
}
.search_filter {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  margin: 44px 0px;
}
.selectContainer {
  text-align: left;
  position: relative;
  span {
    background-image: $gradient_color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.optionBlock {
  position: absolute;
  top: 40px;
}
.btn_custom_select {
  background: none;
  border: none;
  cursor: pointer;
}

.lessons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 100px;
}

// .all_lessons_box {
// 	display: grid;
// 	align-items: center;
// 	justify-content: center;
// 	grid-template-columns: repeat(4, 1fr);
// 	padding-top: 2%;
// 	gap: 20px;
// 	width: 100%;
// }
.all_lessons_box {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  //   padding: 0px 40px;
  // justify-content: center;
  max-width: 1920px;
  width: 100%;
}

// Search and filter
// Filter
// .search_filter {
//   width: 90vw;
//   display: flex;
//   justify-content: left;
//   align-items: center;
//   flex-direction: row;
//   gap: 310px;
//   // margin-left: 13%;
//   right: 0;
//   margin-top: 40px;
// }

.filter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: $gradient_color;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $primary_font;
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
}

.img_filter {
  // padding-right: 10px;
  max-width: 22px;
  max-height: 22px;
  width: 100%;
  height: 100%;
}

.bottom_line {
  background-image: $gradient_color;
  height: 2px;
  width: 100%;
  max-width: 200px;
}

.select {
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  outline: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: $primary_font;
  &:hover {
    cursor: pointer;
  }
}

.option {
  border: none;
  // background: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: $primary_font;
  width: 250px;
  span {
    background-image: $gradient_color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Search
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  max-width: 390px;
  width: 100%;
}

.vol {
  position: absolute;
  z-index: 1;
  left: 0;
}

.search_img {
  position: absolute;
  right: 0;
  z-index: 1;
}

.input {
  border: none;
  box-shadow: 0px 2px 16px 0px rgba(21, 19, 113, 0.25);
  max-width: 590px;
  width: 100%;
  border-radius: 30px;
  height: 40px;
  padding-left: 60px;
  font-size: 1rem;
  font-family: $primary_font;
  font-weight: 400;
}

// One lesson box

.lesson {
  max-width: 408px;
  width: 100%;
  max-height: 382px;
  height: 100%;
}

.img_lesson {
  max-width: 408px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
}

// .centerOverlay {
//   position: absolute;
//   top: 0%;
//   left: 0%;
//   transform: translate(-50%, -50%);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// Play btn lessons

.button_play {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    cursor: pointer;
  }
}

.imageContainer {
  position: relative;
  max-height: 229px;
  height: 100%;
  margin-bottom: 10px;
}

// Info

.time_lessons {
  background-image: linear-gradient(
    33.93deg,
    #05ad25 2.96%,
    #0294a1 42.48%,
    #181381 82%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;

  font-family: $primary_font;
  border-radius: 5px;
  padding: 1px;
}

.time_box {
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: calc(100% - 30px);
  left: calc(100% - 60px);
  max-height: 20px;
  height: 100%;
  max-width: 45px;
  width: 100%;
}

.name_les_btn_share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
}

.name_les {
  width: 100%;
  padding: 0px;
  margin: 0;
  font-size: 22px;
  margin-bottom: 3px;
  font-family: $primary_font;
}

.btn_share {
  border: none;
  background: none;
}

.img_share {
  cursor: pointer;
}

.date {
  color: rgba(131, 131, 130, 1);
  margin: 0;
  line-height: 13.66px;
  margin-bottom: 3px;
  font-size: 12px;
}

.info {
  max-width: 400px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: rgba(58, 58, 56, 1);
  margin: 0;
  margin-bottom: 13px;
  line-height: 16.39px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// Channel styles

.channel_box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

// Box styles img star view comment

.channel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img_channel {
  max-width: 40px;
  max-height: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.name_view_com {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.view_comm_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: row;
}

.name_channel {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  gap: 1px;
  span {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
}

.view_comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 20px;
  font-family: $secondary_font;
  span {
    font-size: 11.5px;
    line-height: 16.62px;
  }
}

.img_view_com {
  max-width: 13px;
  max-height: 13px;
}

// Button buy lessons styles

.buy_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: $gradient_color;
  border: none;
  max-width: 160px;
  width: 100vw;
  padding: 10px;
  max-height: 40px;
  border-radius: 10px;
  gap: 5px;
  transition: 0.3s all;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.text_buy {
  font-size: 1.2rem;
  color: $primary_color;
}

.num_buy {
  font-family: $primary_font;
  color: $primary_color;
  font-weight: 700;
  font-size: 1.1rem;
}

// Width <= 1440px
@media screen and (min-width: 2000px) {
}
@media screen and (max-width: 1900px) {
  .lesson {
    max-width: 355px;
    width: 100%;
    max-height: 382px;
    height: 100%;
  }
  .all_lessons_box {
    gap: 15px;
  }
}
@media screen and (max-width: 1675px) {
  .lessons_container {
    margin: 0px 20px;
  }
  .lesson {
    max-width: 355px;
    width: 100%;
    max-height: 382px;
    height: 100%;
    margin-bottom: 10px;
  }
  .all_lessons_box {
    gap: 15px;
  }
}
@media screen and (max-width: 1500px) {
  .lesson {
    max-width: 285px;
    width: 100%;
    max-height: 382px;
    height: 100%;
  }
  .name_les {
    font-size: 16px;
  }
  .info {
    font-size: 16px;
  }
  .name_channel {
    span {
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .buy_btn {
    width: 125px;
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
.img_channel {
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  height: 100%;
}

// Width <= 1220px
@media screen and (max-width: 1300px) {
  .lessons_container {
    margin: 0px 20px;
  }
  .search_filter {
    max-width: 750px;
  }
  .all_lessons_box {
    gap: 10px;
  }
  .lesson {
    max-width: 270px;
    width: 100%;
    max-height: 382px;
    height: 100%;
    margin-bottom: 10px;
  }
  .name_les {
    font-size: 15px;
  }
  .name_channel {
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .date {
    font-size: 14px;
  }
  .info {
    font-size: 15px;
  }
  .buy_btn {
    max-width: 105px;
    width: 100%;
    p {
      margin: 0;
      font-size: 11px;
    }
  }
}
@media screen and (max-width: 1155px) {
  .lessons_container {
    margin: 0px 20px;
  }
  .search_filter {
    max-width: 750px;
  }
  .all_lessons_box {
    gap: 5px;
  }
  .lesson {
    max-width: 230px;
    width: 100%;
    max-height: 382px;
    height: 100%;
    margin-bottom: 10px;
  }
  .name_les {
    font-size: 13px;
  }
  .name_channel {
    span {
      font-size: 11px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .date {
    font-size: 12px;
  }
  .info {
    font-size: 12px;
  }
  .buy_btn {
    max-width: 90px;
    width: 100%;
    p {
      margin: 0;
      font-size: 9px;
    }
  }
}

// Width <= 768px

@media screen and (max-width: 768px) {
  .search_filter {
    max-width: 750px;
  }
  .all_lessons_box {
    gap: 10px;
  }
  .selectContainer {
    font-size: 22px;
  }
  .search {
    max-width: 270px;
  }
  .search_filter {
    max-width: 560px;
  }
  .search_img {
    left: 220px;
  }
  .lesson {
    max-width: 290px;
    width: 100%;
    max-height: 382px;
    height: 100%;
  }
  .name_les {
    font-size: 16px;
  }
  .name_channel {
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .date {
    font-size: 14px;
  }
  .info {
    font-size: 16px;
  }
  .buy_btn {
    max-width: 125px;
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 635px) {
  .all_lessons_box {
    justify-content: center;
    margin-bottom: 20px;
  }
  .time_box {
    top: calc(100% - 35px);
  }
  .lesson {
    max-width: 400px;
    width: 100%;
    max-height: 382px;
    height: 100%;
  }
  .name_les {
    font-size: 20px;
  }
  .name_channel {
    span {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }
  .date {
    font-size: 12px;
  }
  .info {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .buy_btn {
    max-width: 167px;
    width: 100%;
    p {
      margin: 0;
      font-size: 16px;
    }
  }
  .custom_select {
    display: none;
  }
  .search_filter {
    justify-content: center;
    margin: 0px;
    margin-bottom: 20px;
  }
  .search {
    max-width: 250px;
    img {
      width: 38px;
      height: 38px;
      top: 6px;
    }
  }
}
@media screen and (max-width: 400px) {
  .all_lessons_box {
    justify-content: center;
    margin-bottom: 30px;
  }
  .time_box {
    top: calc(100% - 35px);
  }
  .lesson {
    max-width: 400px;
    width: 100%;
    max-height: 382px;
    height: 100%;
  }
  .name_les {
    font-size: 16px;
  }
  .name_channel {
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
    }
  }
  .date {
    font-size: 12px;
  }
  .info {
    font-size: 12px;
  }
  .buy_btn {
    max-width: 140px;
    width: 100%;
    p {
      margin: 0;
      font-size: 16px;
    }
  }
  .custom_select {
    display: none;
  }
  .search_filter {
    justify-content: center;
    margin: 0px;
    margin-bottom: 20px;
  }
  .search {
    max-width: 250px;
    img {
      width: 38px;
      height: 38px;
      top: 6px;
    }
  }
}
