@import "../../../app/styles/variables";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.box_user {
  width: 100%;
  border-radius: 0.781vw;
  box-shadow: 0 2px 16px rgba(21, 19, 113, 0.1);
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .user_img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  .line {
    height: 0.5vw;
    background: linear-gradient(
      90deg,
      #05ad25 0%,
      #0294a1 50%,
      #181381 100%
    );
  }

  .container {
    padding: 0.781vw;

    .name {
      margin: 0;
      font-size: 1.042vw;
      font-weight: bold;
      background-image: $gradient_color;
      background-size: 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .location {
      margin: 0;
      display: flex;
      font-size: 1vw;
      color: #777;
      margin-top: 0.5vw;

      img {
        width: 1.2vw;
        margin-right: 0.5vw;
      }
    }

    .view_video {
      display: flex;

      gap: 10px;
      margin-top: 1vw;

      .video,
      .view {
        display: flex;
        align-items: center;
        gap: 0.5vw;

        img {
          width: 1.5vw;
        }

        .num {
          font-size: 1vw;
          color: #555;
        }
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  .wrapper {
    .container {
      gap: 10px;
      width: 100%;
    }

    .user {
      flex: 1 1 calc(25% - 10px);
      max-width: calc(25% - 10px);
      box-sizing: border-box;
      margin-bottom: 2vw;

      a {
        text-decoration: none;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .box_user {
    border-radius: 15px 15px 0px 0px;

    .user_img {
      height: 150px;
    }

    .container {
      .name {
        font-size: 14px;
      }

      .location {
        font-size: 10px;
      }

      .view_video {
        .video,
        .view {
          .num {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .box_user {
    border-radius: 15px 15px 0px 0px;

    .user_img {
      height: 170px;
    }

    .container {
      .name {
        font-size: 16px;
      }

      .location {
        font-size: 12px;
        gap: 5px;
        img {
          width: 2.2vw;
        }
      }

      .view_video {
        display: flex;

        gap: 10px;

        .video,
        .view {
          img {
            width: 3.5vw;
          }

          .num {
            font-size: 12px;
            color: #555;
          }
        }
      }
    }
  }
}