@import "../../app/styles/variables";
.mobileNavigationContainer {
  display: none;
  position: fixed;
  background: linear-gradient(
    89.63deg,
    rgba(5, 173, 37, 0.75) 0.32%,
    rgba(2, 148, 161, 0.75) 50%,
    rgba(24, 19, 129, 0.75) 99.68%
  );
  backdrop-filter: blur(10px);
  max-width: 430px;
  width: 100%;
  max-height: 86px;
  height: 100%;
  bottom: 0;
  border-radius: 35px 35px 0px 0px;
}
.navigate {
  display: flex;
  padding: 10px 0px 0px 20px;
  gap: 50px;
  .navigateList {
    display: flex;
    gap: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .link {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
    .listElement {
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      align-items: center;
      display: flex;
      justify-content: center;
      backdrop-filter: blur(10px);
    }
    span {
      font-size: 10px;
      font-family: $primary_font;
    }
    .profileLink {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      width: 80px;
      height: 50px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50px;
      .img_link {
        border-radius: 39px;
        padding: 4px;
      }
    }
  }
}
.burger {
  position: absolute;
}
.img_icon {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
@media screen and (max-width: 430px) {
  .mobileNavigationContainer {
    display: flex;
  }
}
@media screen and (max-width: 410px) {
  .mobileNavigationContainer {
    .navigate {
      gap: 20px;
    }
  }
}
@media screen and (max-width: 380px) {
  .mobileNavigationContainer {
    .navigate {
      gap: 10px;
      padding: 10px 0px 0px 10px;
      .navigateList {
        gap: 7px;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .mobileNavigationContainer {
    justify-content: center;
    .navigate {
      gap: 15px;
      .link {
        .listElement {
          width: 45px;
          height: 45px;
        }
        span {
          font-size: 8px;
        }
      }
    }
  }
}
