@import "/src/app/styles/variables";

// Profile_all_container
.profile_all_container {
  // position: relative;
  top: 0px;
  height: 100vh;
  overflow-x: hidden;
}

.profileContainer {
  position: relative;
  height: 200px;
}
.profile_top_img {
  width: 99.7vw;
  height: 33vh;
  z-index: 0;
}
.profileContainerMobile {
  display: none;
}
.profile_top_img_mobile {
  display: none;
}
// @media screen and (max-width: 1300px) {
//   .profile_top_img_mobile {
//     display: flex;
//     width: 100%;
//     height: 500px;
//   }
//   .profile_top_img {
//     display: none;
//   }
// }
// @media screen and (max-width: 850px) {
//   // .profile_top_img {
//   //   width: 99.3vw;
//   //   z-index: 0;
//   // }
// }
@media screen and (max-width: 850px) {
  .profile_top_img {
    width: 99.2vw;
    z-index: 0;
  }
  .profileContainer {
    display: none;
  }
  .profile_top_img {
    display: none;
  }
  .profile_top_img_mobile {
    position: relative;
    display: flex;
    width: 100%;
  }
  .profileContainerMobile {
    display: inline;
    position: absolute;
    top: 130px;
    max-width: 99.9vw;
    width: 100%;
  }
}
@media screen and (max-width: 570px) {
  .profile_top_img_mobile {
    height: auto;
  }

  .profileContainerMobile {
    display: inline;
    position: absolute;
    top: 56px;
    max-width: 100vw;
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .profileContainerMobile {
    display: inline;
    position: absolute;
    top: 75px;
    // max-width: 91.9vw;
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .profileContainerMobile {
    display: inline;
    position: absolute;
    top: 56px;
    max-width: 84vw;
    // width: 100%;
  }
}
