.box_info {
	position: absolute;
	max-width: 180px;
	width: 100%;
	margin-left: 80.45%;
	margin-top: 4.25%;
	padding: 13px 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 20;
	background-color: rgba(255, 255, 255, 0.24);
}
