@import "../../../app/styles/variables";
.wrapper {
  max-width: 400px;
  width: 100%;
  max-height: 553px;
  height: 100%;
  background-size: cover;
  background-image: url("../../../app/assets/events/eventCardPhoto.png");
  border-radius: 12px;

  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 413px;
    width: 360px;
    font-family: $primary_font;
  }
  .name {
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
    color: white;
  }

  // bottomBlock
  .title {
    font-size: 35px;
    line-height: 55.6px;
    color: white;
    margin: 0;
  }

  // BottomBlock_Info
  .info {
    display: flex;
    justify-content: space-between;
    .description {
      margin: 0;
      max-width: 140px;
      width: 100%;
      font-size: 15px;
      line-height: 20.5px;
      font-weight: 700;
      color: white;
    }
    .signUp {
      border: none;
      cursor: pointer;
      outline: none;
      background: linear-gradient(
        90deg,
        #09af25 0%,
        #0393a0 52.5%,
        #251885 100%
      );
      color: white;
      font-size: 22px;
      font-weight: 700;
      line-height: 30px;
      border-radius: 15px;
      max-width: 189px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    max-width: 353px;
    max-height: 453px;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    .container {
      height: 413px;
      width: 313px;
    }
    .title {
      font-size: 30px;
      line-height: 49.6px;
    }
  }
}
@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: 271px;
    max-height: 371px;

    .container {
      width: 231px;
      height: 331px;
    }
    .name {
      font-size: 24px;
    }
    .title {
      font-size: 22px;
      line-height: 39.6px;
    }
    .info {
      .description {
        margin: 0;
        max-width: 140px;
        width: 100%;
        font-size: 12px;
        line-height: 20.5px;
        font-weight: 700;
        color: white;
      }
      .signUp {
        border: none;
        cursor: pointer;
        outline: none;
        background: linear-gradient(
          90deg,
          #09af25 0%,
          #0393a0 52.5%,
          #251885 100%
        );
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        border-radius: 15px;
        max-width: 109px;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    .name {
      font-size: 30px;
    }
    .title {
      font-size: 30px;
      line-height: 41px;
    }
    .info {
      align-items: center;
      .description {
        margin: 0;
        max-width: 128px;
        width: 100%;
        font-size: 15px;
        line-height: 20.5px;
        font-weight: 700;
        color: white;
      }
      .signUp {
        height: 29px;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        border-radius: 15px;
        max-width: 129px;
        width: 100%;
      }
    }
  }
}
