@import '/src/globalStyle/variables';

// Styles button_burger

.burger {
	position: absolute;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 300;
	transition: 1s;
}
.menu {
	position: absolute;
	max-width: 180px;
	width: 100%;
	margin-left: 80%;
	margin-top: 4.7%;
	padding: 13px 20px;
	// border-top-left-radius: 5px;
	// border-bottom-left-radius: 5px;
	// border-bottom-right-radius: 5px;
	border-radius: 10px;
	z-index: 20;
	background-color: rgba(88, 88, 88, 0.7);
	backdrop-filter: blur(7px);
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu li {
	padding: 10px 0;
	cursor: pointer;
}

// Styles burger links

.list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: start;
	gap: 10px;
}

.list_section {
	display: flex;
	font-size: 1rem;
	font-family: $primary_font;
	color: $primary_color;
	font-weight: 400;
	text-align: left;
	align-items: start;
	text-decoration: none;
	transition: 0.5s all;
	height: 10px;
	&:hover {
		color: #01919f;
	}
}

// Styles profile links

.profile_section {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-direction: row;
	gap: 7px;
}

.box_img {
	display: flex;
	background-color: $primary_color;
	border-radius: 100%;
	padding: 2px;
}

.prof_sec_img {
	max-width: 25px;
	max-height: 25px;
	border-radius: 30px;
}

.prof_select {
	font-size: 1rem;
	font-weight: 400;
	color: $primary_color;
}

// Styles line
.line {
	height: 2px;
	width: 180px;
	background-color: $primary_color;
	margin: 2px 0;
	transition: all 0.3s ease;
}

@media (width <= 1440px) {
	.menu {
		position: absolute;
		max-width: 160px;
		width: 100%;
		margin-left: 81%;
		margin-top: 5.4%;
	}

	.line {
		width: 160px;
	}

	.list {
		gap: 7px;
	}

	.list_section {
		font-size: 0.9rem;
	}
	.prof_select {
		font-size: 0.9rem;
	}
	.prof_sec_img {
		width: 45px;
	}
}

@media (width <= 1300px) {
	.menu {
		max-width: 150px;
		width: 100%;
		margin-left: 73.5%;
		margin-top: 5.3%;
	}

	.list {
		gap: 3px;
	}

	.line {
		width: 150px;
	}

	.list_section {
		font-size: 0.8rem;
	}

	.prof_sec_img {
		width: 30px;
	}

	.prof_select {
		font-size: 0.8rem;
	}
}

@media (width <= 1024px) {
	.menu {
		max-width: 150px;
		width: 100%;
		margin-left: 70.5%;
		margin-top: 5.8%;
	}

	.list {
		gap: 3px;
	}

	.line {
		width: 150px;
	}

	.list_section {
		font-size: 0.8rem;
	}

	.prof_sec_img {
		width: 30px;
	}

	.prof_select {
		font-size: 0.8rem;
	}
}

@media (width <= 768px) {
	.menu {
		border-radius: 10px;
		padding: 5px 10px;
		max-width: 120px;
		width: 100%;
		margin-left: 74.5%;
		margin-top: 5.8%;
	}

	.list {
		gap: 0px;
	}

	.line {
		width: 120px;
	}

	.list_section {
		font-size: 0.7rem;
		padding-top: 5px;
	}

	.prof_sec_img {
		width: 15px;
	}

	.prof_select {
		font-size: 0.7rem;
	}

	.menu li {
		padding: 7px 0px;
	}
}
