.wrapper {
  padding: 156px 90px 100px 90px;
  height: calc(100vh - 156px);
  position: relative;
  .container {
    height: 100%;
    .bigCardBlock {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      max-height: 553px;
      height: 100%;
      margin-bottom: 40px;
    }
    .navigation {
      margin-bottom: 25px;
    }
    .calendar {
      margin-bottom: 25px;
    }
    .smallCardEvent {
      display: flex;
      gap: 40px;
    }
  }
}
