.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
}

.overlay_auth {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.205);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.header {
  position: relative;
}
// .burger {
  //   width: 100%;
//   position: absolute;
//   top: 65px;
//   right: 75px;
// }

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(35, 154, 5, 0.518);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 69, 173, 0.324);
  border-radius: 6px;
}
