@import "/src/app/styles/variables";

.header {
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 15%;
  z-index: 20;
  width: 100%;
  top: 0;
}

.headerWithBackground {
  display: flex;
  position: fixed;
  z-index: 20;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(40, 168, 57, 1) 32%,
    rgba(94, 93, 189, 1) 85%
  );
  top: 0;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  width: 100%;
  padding: 0.521vw 2.083vw;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.84vw;
  color: $primary_color;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 7.3vw;
  width: 100%;
  gap: 0.42vw;
  height: 2.1vw;
  padding: 0px 1.05vw;
  border-radius: 1.67vw;
  text-decoration: none;
  color: $primary_color;
  font-family: $primary_font;
  background-color: rgba(255, 255, 255, 0.24);
  transition: 1ms;
  .img_links {
    width: 0.94vw;
    height: 0.94vw;
  }
}

.text {
  font-size: 0.94vw;
  line-height: 27.32px;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 7.3vw;
  width: 100%;
  gap: 0.42vw;
  height: 2.1vw;
  padding: 0px 1.05vw;
  border-radius: 1.67vw;
  background-color: #ffffff;
  .img_links {
    width: 0.94vw;
    height: 0.94vw;
  }
}

.activeImage {
  fill: red;
}

.activeText {
  color: $links_color;
  font-size: 0.94vw;
  line-height: 27.32px;
}

.title {
  font-family: $secondary_font;
  color: $primary_color;
  font-size: 2.1vw;
  margin: 0;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.42vw;
  margin-right: 3px;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.09vw;
  width: 2.09vw;
  padding: 0.5px 1px 0px 2px;
  border-radius: 1.67vw;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
  img {
    height: 2vw;
    width: 2vw;
  }
}

.button_profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.24);
  width: 4.28vw;
  height: 2.09vw;
  border-radius: 1.567vw;
  border: none;
  gap: 0.525vw;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  .img_icon {
    position: absolute;
    left: 5px;
    width: 1.98vw;
    height: 1.98vw;
    border-radius: 50%;
    object-fit: cover;
    z-index: 20;
  }
  .arrow {
    position: absolute;
    right: 0.68vw;
    width: 0.63vw;
    height: 0.42vw;
  }

  &:hover {
    cursor: pointer;
  }
}
.burger {
  position: absolute;
  width: 100%;
  top: 10px;
}

.active_button_profile {
  position: relative;
  display: flex;
  background-color: rgba(88, 88, 88, 0.4);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.image_radius {
  border-radius: 20px;
  width: 32px;
  height: 29px;
}

@media screen and (max-width: 1920px) {
  .containerHeader {
    padding: 10px 40px;
  }
  .button_profile {
    width: 82px;
    height: 40px;
    border-radius: 30px;
    gap: 10px;
    padding: 0px;
    .img_icon {
      left: 5px;
      width: 38px;
      height: 38px;
    }
    .arrow {
      right: 13px;
      width: 13px;
      height: 13px;
    }
  }
  .links {
    gap: 16px;
    margin-right: 35px;
  }

  .button {
    max-height: 40px;
    height: 40px;
    width: 40px;
    padding: 0.5px 1px 0px 2px;
    border-radius: 30px;
    img {
      height: 32px;
      width: 40px;
    }
  }
  .buttons {
    gap: 8px;
    margin-right: 3px;
  }
  .text {
    font-size: 18px;
  }
  .link {
    max-width: 140px;
    gap: 8px;
    height: 40px;
    padding: 0px 20px;
    border-radius: 32px;
    font-size: 1.25rem;
    .img_links {
      width: 18px;
      height: 18px;
    }
  }
  .active {
    font-size: 18px;
  }
  .activeText {
    font-size: 18px;
    line-height: 27.32px;
    .img_links {
      width: 18px;
      height: 18px;
    }
  }
  .title {
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    font-size: 2.7rem;
  }
}

@media (width <= 1675px) {
  .title {
    font-size: 2.7rem;
  }

  .button {
    width: 55px;
    border-radius: 40px;
  }

  .image_radius {
    width: 35px;
    height: 30px;
  }

  .img_language {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .activeImage {
    content: url("../../app/assets/other/burger.svg");
  }

  .button_profile {
    width: 75px;
 
  }
}

@media screen and (max-width: 1440px) {
  .title {
    font-size: 2.7rem;
  }

  .text {
    font-size: 16px;
  }

  .img_links {
    width: 18px;
    height: 18px;
  }

  .button {
    width: 40px;
    height: 45px;
  }

  .image_radius {
    width: 37px;
    height: 34px;
  }

  .img_language {
    width: 40px;
    height: 40px;
  }

  .button_profile {
    width: 75px;
  }
}

// Width <= 1300px
@media (width <= 1300px) {
  .header {
    gap: 8%;
  }

  .button {
    gap: 10px;
  }
}

@media screen and (max-width: 1110px) {
  .links {
    display: none;
  }
}

@media (width <= 768px) {
}

@media (width <= 530px) {
  .containerHeader {
    padding: 0 40px;
  }
  .button_profile {
    display: none;
  }
  .header {
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .link {
    display: none;
  }

  .button_profile {
    display: none;
  }

  .title {
    font-size: 1.75rem;
  }

  .button {
    width: 43px;
    height: 43px;
  }
  .img_language {
    width: 36px;
    height: 36px;
  }

  .image_radius {
    width: 27px;
    height: 32px;
  }

  .burger_img {
    width: 21px;
    height: 17px;
  }
}

@media (width <= 375px) {
  .header {
    height: 45px;
  }

  .title {
    font-size: 1.7rem;
  }

  .button {
    width: 40px;
    height: 40px;
  }

  .img_language {
    width: 35px;
    height: 34px;
  }

  .image_radius {
    width: 24px;
    height: 32px;
  }

  .burger_img {
    width: 20px;
    height: 20px;
  }
}

@media (width <= 325px) {
  .header {
    height: 15px;
  }

  .title {
    font-size: 1.4rem;
  }

  .button {
    width: 35px;
    height: 35px;
  }

  .img_language {
    width: 30px;
    height: 29px;
  }

  .image_radius {
    width: 20px;
    height: 33px;
  }

  .burger_img {
    width: 17px;
    height: 17px;
  }
}
