@import "/src/app/styles/variables";
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../app/assets/home/bg_home.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: $primary_font;
}

.text_box_home {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: $secondary_font;
  margin-bottom: 11.2%;
  // padding-bottom: 160px;
}

.title {
  font-size: 160px;
  color: $primary_color;
  font-weight: 700;
  margin: 0;
  margin-top: 60px;

  line-height: 242.76px;
}

.subtitle {
  margin: 0;
  text-align: center;
  font-size: 24px;
  color: $primary_color;
  font-weight: 400;
  max-width: 700px;
  width: 100%;
  line-height: 34.68px;
}

.lessons_users_box {
  display: flex;
  gap: 0;
  width: calc(100vw - 200px);
  justify-content: space-between;
  font-size: 40px;
}

.les_us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.les_us_text {
  font-weight: 400;
  display: flex;
  align-items: center;
  color: $primary_color;
  padding-left: 10px;
}

.num {
  font-weight: 800;
  color: $primary_color;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 120px;
  }
  .lessons_users_box {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .lessons_users_box {
    font-size: 20px;
    img {
      width: 40px;
    }
  }
}
@media screen and (max-width: 535px) {
  .title {
    font-size: 55px;
  }
  .lessons_users_box {
    flex-direction: column;
    font-size: 20px;
  }
}
@media screen and (max-width: 435px) {
  .title {
    font-size: 45px;
    line-height: 100px;
  }
  .lessons_users_box {
    flex-direction: column;
    font-size: 20px;
  }
}
